/*-- scss:defaults --*/

$body-bg: #f5f2ec;
$link-color: #325d88;
$headings-font-weight: 600;
$font-size-base: 1rem;
$line-height-base: 1.65;

/*-- scss:rules --*/

.btn.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 0.4rem;
  font-size: 14px;
  border-radius: 0.2rem;
}

h1, .h1 {
  font-size: calc(1.35rem + 0.6vw);
}

h2, .h2 {
  font-size: calc(1.2rem + 0.35vw);
  margin-top: 1.75rem;
}

h3, .h3 {
  font-size: 1.1rem;
}
